@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  padding-top: 3rem;
  margin: 0 auto;
  z-index: 1;
  width: 50%;
  height: 50px;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  color: white;
}
input::placeholder {
  font-family: "Satisfy", cursive;
  font-size: 1rem;
}

.main-btn {
  font-family: "Satisfy", cursive;
  /* font-weight: bolder; */
  font-size: 1.5rem;
  color: white;

  border: black solid 5px;
  background: black;
}

.section {
  font-family: "Satisfy", cursive;

  /* padding-top: 2rem; */
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  color: white;
}
span {
  font-family: "Satisfy", cursive;
}
.form-control {
  background: url(./light.jpg) center/cover no-repeat fixed;
}
a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(243, 200, 79);
}
